* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #bde0fe;
}

header {
  font-size: 30px;
}

.note {
  margin: 2%;
  border: 2px solid grey;
  background-color: #fdffb6;
}

.note-title {
  text-decoration: underline;
  color: grey;
}

.note-body {
  font-size: 20px;
}
